*
{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}



.main{
    background-image: url(../img/main-fon.png);
    width: 1440px;
    height: 800px;
    border-radius: 4px;
    z-index: 0;
    &__title-text{
        position: relative;
        top: 280px;
        left: 210px;
        font-family: Roboto;
        font-size: 37px;
        font-weight: 900;
        line-height: 56px;
        text-align: left;
        color: #F5F5F5;
    }
    &__btn{
        font-family: Roboto;
        font-size: 20px;
        font-weight:900;
        line-height: 24px;
        text-align: center;
        position: relative;
        top: 330px;
        color: #F5F5F5;
        background-color:#F2726F;
        padding: 20px;
        margin-left: 210px;
        width: 210px;
        height: 28px;
        border-radius: 5px;
    }
}
.list2{
    background-image: url(../img/list2-fon.png);
    width: 1020px;
    height: 700px;
    top: -80px;
    left: 210px;
    border-radius: 40px 0px 0px 0px;
    position: relative;
    z-index: 1;
    &__logo{
        width: 44px;
        height: 42px;
        position: relative;
        bottom: 200px;
        right: -100px;      
    }
    &__lapki{
        position: relative;
        right: -848px;
        top: -110px;
    }
    &__textlogo{
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 2.5px;
        text-align: left;
        position: relative;
        left: 140px;
        top: -237px;
        color: #F5F5F5;
    }
    &__title{
        font-family: Roboto;
        font-size: 23px;
        color: #F5F5F5;
        position: relative;
        bottom: 220px;
        left: 110px;;
    }
    &__text{
        font-family: Roboto;
        font-size:11px;
        color: #F5F5F5;
        position: relative;
        bottom: 180px;
        left: 110px;
    }
    &__pit{
        position: relative;
        bottom: 130px;
        left: 74px;
    }
    &__dog{
        position: relative;
        bottom: 450px;
        left: 110px;
    }
    &__logo2{
        width: 44px;
        height: 42px;
        position: relative;
        bottom: 350px;
        right: 10px;
    }
    &__text2{
        font-family: Roboto;
        font-size: 12px;
        color: #5D62B5;
        position: relative;
        bottom: 386px;
        right: -30px;
    }
    &__title2{
        font-family: Roboto-Black;
        font-size: 36px;
        position: relative;
        bottom: 370px;
    }
    &__subimg{
        padding-top: 150px;
        display: flex;
        gap: 285px;
        width: 63px;
        height: 63px;
    }
    &__subimg1{
        position: relative;
        top: 15px;
    }
    &__subimg2{
        position: relative;
        left: 60px;
        top: 20px;
    }
    &__subimg3{
        position: relative;
        left: 90px;
        top: 20px;
    }
    &__subtitle{
        display: flex;
        gap: 200px;
        font-size: 16px;
        position: relative;
        right: -80px;
        top: -40px;
    }
    &__subtitle1{
        position: relative;
        left: 20px;
    }
    &__subtext{
        display: flex;
        gap: 200px;
        font-size: 16px;
        position: relative;
        right: -80px;
    }
    &__subtext1{
        display: flex;
        width: 550px;
        height: 200px;
    }
    &__subtext2{
        display: flex;
        width: 550px;
        height: 200px;
    }
}
.downlist{
    background-image: url(../img/fons.png);
    width: 1440px;
    height: 500px;
    position: relative;
    top: 775px;
    left: 150px;
    &__text1{
        font-size: 36px;
        color: #F5F5F5;
        position: relative;
        left: 819px;
        top: 100px;
    }
    &__btn1{
        position: relative;
        left: 819px;
        top: 150px;
        color: #F5F5F5;
        border-radius: 8px;
        width: 130px;
        height: 35px;
        background-color: #5D62B5;
    }
}
